replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/learning-481011/k8-learning/backend-prod
  pullPolicy: Always
  tag: 28bd633
service:
  type: ClusterIP
  port: 80
  targetPort: 8080
  name: backend-service-prod
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 200Mi
readinessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3
livenessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20
env:
  - name: PORT
    value: '8080'
  - name: JWT_SECRET
    secretKey: JWT_SECRET
  - name: NODE_ENV
    value: production
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
secrets:
  jwtSecretKey: JWT_SECRET_PROD
gateway:
  name: envoy-gateway
  namespace: envoy-gateway-system
hostnames:
  - api.cardflex.in
  - www.api.cardflex.in
