replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/learning-481011/k8-learning/frontend-stag
  pullPolicy: Always
  tag: 66c6415
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
service:
  type: ClusterIP
  port: 80
  targetPort: 80
hostnames:
  - staging.cardflex.in
  - www.staging.cardflex.in

# Reference global infrastructure values from common.yaml
# Service uses: global.gateway, global.certificate, global.secretStore, global.project
