replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/learning-481011/learning/frontend-stag
  tag: latest
  pullPolicy: Always

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
